
<!DOCTYPE html>
 <head>
   <meta charset="UTF-8" />
   <script src="/static/js/jquery.js"></script>
   <script src="/static/js/jcanvas.js"></script>
   <script src="/static/js/genome.js"></script>
   <link rel="stylesheet" type="text/css" href="/static/css/main.css">
 </head>
 <body>
   <div id="main">
	 <div id="main_center">
	   <h1>Genome Browser</h1>
	   <div id="controller">
		 <button id="controller_button_double_left">＜＜</button>		 
		 <button id="controller_button_left">＜</button>
		 <button id="controller_button_minus">ー</button>
		 <select id="controller_select"></select>
		 <button id="controller_button_plus">＋</button>
		 <button id="controller_button_right">＞</button>
		 <button id="controller_button_double_right">＞＞</button>
		 <form>
		   Region Start:<input id="input_view_start"type="text" />
		 </form>
	   </div>
	   overview
	   <div id="overview">
		   <canvas id="overview_scale"></canvas>
		   <canvas class="box"></canvas>
	   </div>
	   region
	   <div id="region">
		 <div id="region_box">
		   <div class="upperbox"></div>
		   <div class="lowerbox"></div>
		 </div>
	   </div>
	   <div id="wrap_show_images">
	   <div id="show_images"></div>
	   </div>
	   <div id="debug"></div>
	   <div id="#show_data"></div>
	 </div>
   </div>
 </body>
</html>
