*{
 margin:0px;
 padding:0px;
 box-sizing: border-box;
}

/*
 todo:
 800pxなどと指定している箇所は、
 後ほど、jsで変更できるようにしておきます。
 */
body{
	background-color: powderblue;
}
#main{
	background-color: beige;
	width:1000px;
	border: 1px solid black;
	margin-left:auto;margin-right:auto;
}

#main_center{
	margin-left: 100px;
}

#wrap_show_images{
 width:800px;
 overflow:hidden;
}
#show_images {
 width: 8000px;
 height: 400px;
 position: relative;
}

#show_images img {
 float: left;
 width: 800px;
 height: 400px;
 position: relative;
 top: 0px;
 left: 0px;
}
#show_images div{
 clear:left;
}

#overview{
	width: 800px;
	height: 50px;
	background-color: #E0E0E0;
	border:1px solid black;
}
#overview_box{
	width:inherit;
	height:inherit;
	overflow:hidden;
}
#overview_scale{
	float: left;
}
canvas.box{
	position:relative;
	opacity:0.5;
}
/*
div.overview_scale{
	float:left;
	position:relative;
	top:23px;
	width:800px;
	height:2px;
	background-color:black;
	
}
*/
#region{
	width: 800px;
	height: 50px;
	background-color: InfoBackground;
	border:1px solid black;
}

div.upperbox{
	width: 100px;
	height: 50px;
	background-color:pink;
}