*{
 margin:0px;
 padding:0px;
}
#wrap{
 border:5px solid black;
 width:800px;
 overflow:hidden;
}
#show_images {
 width: 8000px;
 height: 400px;
 position: relative;
}

#show_images img {
 float: left;
 width: 800px;
 height: 400px;
 border: 1px solid red;
 position: relative;
 top: 0px;
 left: 0px;
}
#show_images div{
 clear:left;
}