*{
 margin:0px;
 padding:0px;
 box-sizing: border-box;
}

body{
	background-color: #E7F6F8;
}

#wrap{
	padding:5px;
}

#header{
	height:25px;
	background-color:khaki;
}

#main{
	width:100%;
	clear:both;
	background-color: beige;
	border: 1px solid black;
}

/* #main_center{ */
/* 	width:800px; */
/* 	padding:0px auto; */
/* 	margin:0px auto; */
/* } */

.center {
	width:800px;
	float:left;
	padding:0px auto;
	margin:0px auto;
}

#wrap_show_images{
 overflow:hidden;
}
#show_images {
 position: relative;
}

#show_images img {
 float: left;
 position: relative;
 /* 初期値 */
 top: 0px;
 left: 0px;
}
#show_images div{
 clear:left;
}

#overview{
	width: 800px;
	height: 50px;
	background-color: #E0E0E0;
	border:1px solid black;
}
#overview_scale{
	float: left;
}
canvas.box{
	position:relative;
	opacity:0.5;
}
#region{
	width: 800px;
	height: 50px;
	background-color: InfoBackground;
	border:1px solid black;
}
#region_scale{
	float: left;
}


#tab_menu ul{
	list-style: none;
}
#tab_menu li{
	margin: 0px 10px 0px 10px;
	color: blue;
	float: left;
}
#tab_menu li:hover{
	background-color: #EDED33;
}